<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @johari.user_id %>
</p>

<p>
  <strong>Ans1a:</strong>
  <%= @johari.ans1a %>
</p>

<p>
  <strong>Ans1b:</strong>
  <%= @johari.ans1b %>
</p>

<p>
  <strong>Ans2a:</strong>
  <%= @johari.ans2a %>
</p>

<p>
  <strong>Ans2b:</strong>
  <%= @johari.ans2b %>
</p>

<p>
  <strong>Ans3a:</strong>
  <%= @johari.ans3a %>
</p>

<p>
  <strong>Ans3b:</strong>
  <%= @johari.ans3b %>
</p>

<p>
  <strong>Ans4a:</strong>
  <%= @johari.ans4a %>
</p>

<p>
  <strong>Ans4b:</strong>
  <%= @johari.ans4b %>
</p>

<p>
  <strong>Ans5a:</strong>
  <%= @johari.ans5a %>
</p>

<p>
  <strong>Ans5b:</strong>
  <%= @johari.ans5b %>
</p>

<p>
  <strong>Ans6a:</strong>
  <%= @johari.ans6a %>
</p>

<p>
  <strong>Ans6b:</strong>
  <%= @johari.ans6b %>
</p>

<p>
  <strong>Ans7a:</strong>
  <%= @johari.ans7a %>
</p>

<p>
  <strong>Ans7b:</strong>
  <%= @johari.ans7b %>
</p>

<p>
  <strong>Ans8a:</strong>
  <%= @johari.ans8a %>
</p>

<p>
  <strong>Ans8b:</strong>
  <%= @johari.ans8b %>
</p>

<p>
  <strong>Ans9a:</strong>
  <%= @johari.ans9a %>
</p>

<p>
  <strong>Ans9b:</strong>
  <%= @johari.ans9b %>
</p>

<p>
  <strong>Ans10a:</strong>
  <%= @johari.ans10a %>
</p>

<p>
  <strong>Ans10b:</strong>
  <%= @johari.ans10b %>
</p>

<p>
  <strong>Ans11a:</strong>
  <%= @johari.ans11a %>
</p>

<p>
  <strong>Ans11b:</strong>
  <%= @johari.ans11b %>
</p>

<p>
  <strong>Ans12a:</strong>
  <%= @johari.ans12a %>
</p>

<p>
  <strong>Ans12b:</strong>
  <%= @johari.ans12b %>
</p>

<p>
  <strong>Ans13a:</strong>
  <%= @johari.ans13a %>
</p>

<p>
  <strong>Ans13b:</strong>
  <%= @johari.ans13b %>
</p>

<p>
  <strong>Ans14a:</strong>
  <%= @johari.ans14a %>
</p>

<p>
  <strong>Ans14b:</strong>
  <%= @johari.ans14b %>
</p>

<p>
  <strong>Ans15a:</strong>
  <%= @johari.ans15a %>
</p>

<p>
  <strong>Ans15b:</strong>
  <%= @johari.ans15b %>
</p>

<p>
  <strong>Ans16a:</strong>
  <%= @johari.ans16a %>
</p>

<p>
  <strong>Ans16b:</strong>
  <%= @johari.ans16b %>
</p>

<p>
  <strong>Ans17a:</strong>
  <%= @johari.ans17a %>
</p>

<p>
  <strong>Ans17b:</strong>
  <%= @johari.ans17b %>
</p>

<p>
  <strong>Ans18a:</strong>
  <%= @johari.ans18a %>
</p>

<p>
  <strong>Ans18b:</strong>
  <%= @johari.ans18b %>
</p>

<p>
  <strong>Ans19a:</strong>
  <%= @johari.ans19a %>
</p>

<p>
  <strong>Ans19b:</strong>
  <%= @johari.ans19b %>
</p>

<p>
  <strong>Ans20a:</strong>
  <%= @johari.ans20a %>
</p>

<p>
  <strong>Ans20b:</strong>
  <%= @johari.ans20b %>
</p>

<%= link_to 'Edit', edit_johari_path(@johari) %> |
<%= link_to 'Back', joharis_path %>
