<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @mbti.user_id %>
</p>

<p>
  <strong>Ans1a:</strong>
  <%= @mbti.ans1a %>
</p>

<p>
  <strong>Ans1b:</strong>
  <%= @mbti.ans1b %>
</p>

<p>
  <strong>Ans2a:</strong>
  <%= @mbti.ans2a %>
</p>

<p>
  <strong>Ans2b:</strong>
  <%= @mbti.ans2b %>
</p>

<p>
  <strong>Ans3a:</strong>
  <%= @mbti.ans3a %>
</p>

<p>
  <strong>Ans3b:</strong>
  <%= @mbti.ans3b %>
</p>

<p>
  <strong>Ans4a:</strong>
  <%= @mbti.ans4a %>
</p>

<p>
  <strong>Ans4b:</strong>
  <%= @mbti.ans4b %>
</p>

<p>
  <strong>Ans5a:</strong>
  <%= @mbti.ans5a %>
</p>

<p>
  <strong>Ans5b:</strong>
  <%= @mbti.ans5b %>
</p>

<p>
  <strong>Ans6a:</strong>
  <%= @mbti.ans6a %>
</p>

<p>
  <strong>Ans6b:</strong>
  <%= @mbti.ans6b %>
</p>

<p>
  <strong>Ans7a:</strong>
  <%= @mbti.ans7a %>
</p>

<p>
  <strong>Ans7b:</strong>
  <%= @mbti.ans7b %>
</p>

<p>
  <strong>Ans8a:</strong>
  <%= @mbti.ans8a %>
</p>

<p>
  <strong>Ans8b:</strong>
  <%= @mbti.ans8b %>
</p>

<p>
  <strong>Ans9a:</strong>
  <%= @mbti.ans9a %>
</p>

<p>
  <strong>Ans9b:</strong>
  <%= @mbti.ans9b %>
</p>

<p>
  <strong>Ans10a:</strong>
  <%= @mbti.ans10a %>
</p>

<p>
  <strong>Ans10b:</strong>
  <%= @mbti.ans10b %>
</p>

<p>
  <strong>Ans11a:</strong>
  <%= @mbti.ans11a %>
</p>

<p>
  <strong>Ans11b:</strong>
  <%= @mbti.ans11b %>
</p>

<p>
  <strong>Ans12a:</strong>
  <%= @mbti.ans12a %>
</p>

<p>
  <strong>Ans12b:</strong>
  <%= @mbti.ans12b %>
</p>

<p>
  <strong>Ans13a:</strong>
  <%= @mbti.ans13a %>
</p>

<p>
  <strong>Ans13b:</strong>
  <%= @mbti.ans13b %>
</p>

<p>
  <strong>Ans14a:</strong>
  <%= @mbti.ans14a %>
</p>

<p>
  <strong>Ans14b:</strong>
  <%= @mbti.ans14b %>
</p>

<p>
  <strong>Ans15a:</strong>
  <%= @mbti.ans15a %>
</p>

<p>
  <strong>Ans15b:</strong>
  <%= @mbti.ans15b %>
</p>

<p>
  <strong>Ans16a:</strong>
  <%= @mbti.ans16a %>
</p>

<p>
  <strong>Ans16b:</strong>
  <%= @mbti.ans16b %>
</p>

<p>
  <strong>Ans17a:</strong>
  <%= @mbti.ans17a %>
</p>

<p>
  <strong>Ans17b:</strong>
  <%= @mbti.ans17b %>
</p>

<p>
  <strong>Ans18a:</strong>
  <%= @mbti.ans18a %>
</p>

<p>
  <strong>Ans18b:</strong>
  <%= @mbti.ans18b %>
</p>

<p>
  <strong>Ans19a:</strong>
  <%= @mbti.ans19a %>
</p>

<p>
  <strong>Ans19b:</strong>
  <%= @mbti.ans19b %>
</p>

<p>
  <strong>Ans20a:</strong>
  <%= @mbti.ans20a %>
</p>

<p>
  <strong>Ans20b:</strong>
  <%= @mbti.ans20b %>
</p>

<p>
  <strong>Ans21a:</strong>
  <%= @mbti.ans21a %>
</p>

<p>
  <strong>Ans21b:</strong>
  <%= @mbti.ans21b %>
</p>

<p>
  <strong>Ans22a:</strong>
  <%= @mbti.ans22a %>
</p>

<p>
  <strong>Ans22b:</strong>
  <%= @mbti.ans22b %>
</p>

<p>
  <strong>Ans23a:</strong>
  <%= @mbti.ans23a %>
</p>

<p>
  <strong>Ans23b:</strong>
  <%= @mbti.ans23b %>
</p>

<p>
  <strong>Ans25a:</strong>
  <%= @mbti.ans25a %>
</p>

<p>
  <strong>Ans24b:</strong>
  <%= @mbti.ans24b %>
</p>

<p>
  <strong>Ans25a:</strong>
  <%= @mbti.ans25a %>
</p>

<p>
  <strong>Ans25b:</strong>
  <%= @mbti.ans25b %>
</p>

<p>
  <strong>Ans26a:</strong>
  <%= @mbti.ans26a %>
</p>

<p>
  <strong>Ans26b:</strong>
  <%= @mbti.ans26b %>
</p>

<p>
  <strong>Ans27a:</strong>
  <%= @mbti.ans27a %>
</p>

<p>
  <strong>Ans27b:</strong>
  <%= @mbti.ans27b %>
</p>

<p>
  <strong>Ans28a:</strong>
  <%= @mbti.ans28a %>
</p>

<p>
  <strong>Ans28b:</strong>
  <%= @mbti.ans28b %>
</p>

<p>
  <strong>Ans29a:</strong>
  <%= @mbti.ans29a %>
</p>

<p>
  <strong>Ans29b:</strong>
  <%= @mbti.ans29b %>
</p>

<p>
  <strong>Ans30a:</strong>
  <%= @mbti.ans30a %>
</p>

<p>
  <strong>Ans30b:</strong>
  <%= @mbti.ans30b %>
</p>

<p>
  <strong>Ans31a:</strong>
  <%= @mbti.ans31a %>
</p>

<p>
  <strong>Ans31b:</strong>
  <%= @mbti.ans31b %>
</p>

<p>
  <strong>Ans32a:</strong>
  <%= @mbti.ans32a %>
</p>

<p>
  <strong>Ans32b:</strong>
  <%= @mbti.ans32b %>
</p>

<%= link_to 'Edit', edit_mbti_path(@mbti) %> |
<%= link_to 'Back', mbtis_path %>
