<%= form_with(model: firoscore, local: true) do |form| %>
  <% if firoscore.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(firoscore.errors.count, "error") %> prohibited this firoscore from being saved:</h2>

      <ul>
        <% firoscore.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :ei %>
    <%= form.number_field :ei %>
  </div>

  <div class="field">
    <%= form.label :ec %>
    <%= form.number_field :ec %>
  </div>

  <div class="field">
    <%= form.label :ea %>
    <%= form.number_field :ea %>
  </div>

  <div class="field">
    <%= form.label :wi %>
    <%= form.number_field :wi %>
  </div>

  <div class="field">
    <%= form.label :wc %>
    <%= form.number_field :wc %>
  </div>

  <div class="field">
    <%= form.label :wa %>
    <%= form.number_field :wa %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
