<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @firoscore.user_id %>
</p>

<p>
  <strong>Ei:</strong>
  <%= @firoscore.ei %>
</p>

<p>
  <strong>Ec:</strong>
  <%= @firoscore.ec %>
</p>

<p>
  <strong>Ea:</strong>
  <%= @firoscore.ea %>
</p>

<p>
  <strong>Wi:</strong>
  <%= @firoscore.wi %>
</p>

<p>
  <strong>Wc:</strong>
  <%= @firoscore.wc %>
</p>

<p>
  <strong>Wa:</strong>
  <%= @firoscore.wa %>
</p>

<%= link_to 'Edit', edit_firoscore_path(@firoscore) %> |
<%= link_to 'Back', firoscores_path %>
