<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @ecassessment.user_id %>
</p>

<p>
  <strong>Ans1:</strong>
  <%= @ecassessment.ans1 %>
</p>

<p>
  <strong>Ans2:</strong>
  <%= @ecassessment.ans2 %>
</p>

<p>
  <strong>Ans3:</strong>
  <%= @ecassessment.ans3 %>
</p>

<p>
  <strong>Ans4:</strong>
  <%= @ecassessment.ans4 %>
</p>

<p>
  <strong>Ans5:</strong>
  <%= @ecassessment.ans5 %>
</p>

<p>
  <strong>Ans6:</strong>
  <%= @ecassessment.ans6 %>
</p>

<p>
  <strong>Ans7:</strong>
  <%= @ecassessment.ans7 %>
</p>

<p>
  <strong>Ans8:</strong>
  <%= @ecassessment.ans8 %>
</p>

<p>
  <strong>Ans9:</strong>
  <%= @ecassessment.ans9 %>
</p>

<p>
  <strong>Ans10:</strong>
  <%= @ecassessment.ans10 %>
</p>

<p>
  <strong>Ans11:</strong>
  <%= @ecassessment.ans11 %>
</p>

<p>
  <strong>Ans12:</strong>
  <%= @ecassessment.ans12 %>
</p>

<%= link_to 'Edit', edit_ecassessment_path(@ecassessment) %> |
<%= link_to 'Back', ecassessments_path %>
