<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @mbtinewscore.user_id %>
</p>

<p>
  <strong>Scorei:</strong>
  <%= @mbtinewscore.scorei %>
</p>

<p>
  <strong>Scoree:</strong>
  <%= @mbtinewscore.scoree %>
</p>

<p>
  <strong>Scoren:</strong>
  <%= @mbtinewscore.scoren %>
</p>

<p>
  <strong>Scores:</strong>
  <%= @mbtinewscore.scores %>
</p>

<p>
  <strong>Scoret:</strong>
  <%= @mbtinewscore.scoret %>
</p>

<p>
  <strong>Scoref:</strong>
  <%= @mbtinewscore.scoref %>
</p>

<p>
  <strong>Scorep:</strong>
  <%= @mbtinewscore.scorep %>
</p>

<p>
  <strong>Scorej:</strong>
  <%= @mbtinewscore.scorej %>
</p>

<%= link_to 'Edit', edit_mbtinewscore_path(@mbtinewscore) %> |
<%= link_to 'Back', mbtinewscores_path %>
