<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @firo.user_id %>
</p>

<p>
  <strong>Ans1:</strong>
  <%= @firo.ans1 %>
</p>

<p>
  <strong>Ans2:</strong>
  <%= @firo.ans2 %>
</p>

<p>
  <strong>Ans3:</strong>
  <%= @firo.ans3 %>
</p>

<p>
  <strong>Ans4:</strong>
  <%= @firo.ans4 %>
</p>

<p>
  <strong>Ans5:</strong>
  <%= @firo.ans5 %>
</p>

<p>
  <strong>Ans6:</strong>
  <%= @firo.ans6 %>
</p>

<p>
  <strong>Ans7:</strong>
  <%= @firo.ans7 %>
</p>

<p>
  <strong>Ans8:</strong>
  <%= @firo.ans8 %>
</p>

<p>
  <strong>Ans9:</strong>
  <%= @firo.ans9 %>
</p>

<p>
  <strong>Ans10:</strong>
  <%= @firo.ans10 %>
</p>

<p>
  <strong>Ans11:</strong>
  <%= @firo.ans11 %>
</p>

<p>
  <strong>Ans12:</strong>
  <%= @firo.ans12 %>
</p>

<p>
  <strong>Ans13:</strong>
  <%= @firo.ans13 %>
</p>

<p>
  <strong>Ans14:</strong>
  <%= @firo.ans14 %>
</p>

<p>
  <strong>Ans15:</strong>
  <%= @firo.ans15 %>
</p>

<p>
  <strong>Ans16:</strong>
  <%= @firo.ans16 %>
</p>

<p>
  <strong>Ans17:</strong>
  <%= @firo.ans17 %>
</p>

<p>
  <strong>Ans18:</strong>
  <%= @firo.ans18 %>
</p>

<p>
  <strong>Ans19:</strong>
  <%= @firo.ans19 %>
</p>

<p>
  <strong>Ans20:</strong>
  <%= @firo.ans20 %>
</p>

<p>
  <strong>Ans21:</strong>
  <%= @firo.ans21 %>
</p>

<p>
  <strong>Ans22:</strong>
  <%= @firo.ans22 %>
</p>

<p>
  <strong>Ans23:</strong>
  <%= @firo.ans23 %>
</p>

<p>
  <strong>Ans24:</strong>
  <%= @firo.ans24 %>
</p>

<p>
  <strong>Ans25:</strong>
  <%= @firo.ans25 %>
</p>

<p>
  <strong>Ans26:</strong>
  <%= @firo.ans26 %>
</p>

<p>
  <strong>Ans27:</strong>
  <%= @firo.ans27 %>
</p>

<p>
  <strong>Ans28:</strong>
  <%= @firo.ans28 %>
</p>

<p>
  <strong>Ans29:</strong>
  <%= @firo.ans29 %>
</p>

<p>
  <strong>Ans30:</strong>
  <%= @firo.ans30 %>
</p>

<p>
  <strong>Ans31:</strong>
  <%= @firo.ans31 %>
</p>

<p>
  <strong>Ans32:</strong>
  <%= @firo.ans32 %>
</p>

<p>
  <strong>Ans33:</strong>
  <%= @firo.ans33 %>
</p>

<p>
  <strong>Ans34:</strong>
  <%= @firo.ans34 %>
</p>

<p>
  <strong>Ans35:</strong>
  <%= @firo.ans35 %>
</p>

<p>
  <strong>Ans36:</strong>
  <%= @firo.ans36 %>
</p>

<p>
  <strong>Ans37:</strong>
  <%= @firo.ans37 %>
</p>

<p>
  <strong>Ans38:</strong>
  <%= @firo.ans38 %>
</p>

<p>
  <strong>Ans39:</strong>
  <%= @firo.ans39 %>
</p>

<p>
  <strong>Ans40:</strong>
  <%= @firo.ans40 %>
</p>

<p>
  <strong>Ans41:</strong>
  <%= @firo.ans41 %>
</p>

<p>
  <strong>Ans42:</strong>
  <%= @firo.ans42 %>
</p>

<p>
  <strong>Ans43:</strong>
  <%= @firo.ans43 %>
</p>

<p>
  <strong>Ans44:</strong>
  <%= @firo.ans44 %>
</p>

<p>
  <strong>Ans45:</strong>
  <%= @firo.ans45 %>
</p>

<p>
  <strong>Ans46:</strong>
  <%= @firo.ans46 %>
</p>

<p>
  <strong>Ans47:</strong>
  <%= @firo.ans47 %>
</p>

<p>
  <strong>Ans48:</strong>
  <%= @firo.ans48 %>
</p>

<p>
  <strong>Ans49:</strong>
  <%= @firo.ans49 %>
</p>

<p>
  <strong>Ans50:</strong>
  <%= @firo.ans50 %>
</p>

<p>
  <strong>Ans51:</strong>
  <%= @firo.ans51 %>
</p>

<p>
  <strong>Ans52:</strong>
  <%= @firo.ans52 %>
</p>

<%= link_to 'Edit', edit_firo_path(@firo) %> |
<%= link_to 'Back', firos_path %>
