<%= form_with(model: mbtiscore, local: true) do |form| %>
  <% if mbtiscore.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mbtiscore.errors.count, "error") %> prohibited this mbtiscore from being saved:</h2>

      <ul>
        <% mbtiscore.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :ie %>
    <%= form.number_field :ie %>
  </div>

  <div class="field">
    <%= form.label :ns %>
    <%= form.number_field :ns %>
  </div>

  <div class="field">
    <%= form.label :tf %>
    <%= form.number_field :tf %>
  </div>

  <div class="field">
    <%= form.label :pj %>
    <%= form.number_field :pj %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
