<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @mbtiscore.user_id %>
</p>

<p>
  <strong>Ie:</strong>
  <%= @mbtiscore.ie %>
</p>

<p>
  <strong>Ns:</strong>
  <%= @mbtiscore.ns %>
</p>

<p>
  <strong>Tf:</strong>
  <%= @mbtiscore.tf %>
</p>

<p>
  <strong>Pj:</strong>
  <%= @mbtiscore.pj %>
</p>

<%= link_to 'Edit', edit_mbtiscore_path(@mbtiscore) %> |
<%= link_to 'Back', mbtiscores_path %>
